<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h4>{{> header}}</h4>
        <p>These are my projects: </p>
        <p>1. Notes App</p>
        <p>2. Weather App</p>
        <p>3. App that focuses on Heroku deployment</p>
        {{> footer}}
    </body>
</html>
